* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 1em 0;
  font-family: sans-serif;
}

body {
  background-color: #050632;
}

.engloba {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 800px;
  overflow: hidden;
  text-align: center;
}

.content .slide img {
  width: 79%;
  height: 100%;
}
.content .slide {
  display: flex;
  justify-content: center;
}

.slides {
  display: flex;
  width: 1000%;
}
input {
  display: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.bar {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 15px;
  cursor: pointer;
  transform: 0.5s ease;
}

.bar:hover {
  background-color: white;
  transition: 0.8s;
}
.slide {
  width: 10%;
  transition: 0.6s;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -10%;
}

#slide3:checked ~ .s1 {
  margin-left: -20%;
}

#slide4:checked ~ .s1 {
  margin-left: -30%;
}

#slide5:checked ~ .s1 {
  margin-left: -40%;
}
#slide6:checked ~ .s1 {
  margin-left: -50%;
}

#slide7:checked ~ .s1 {
  margin-left: -60%;
}

#slide8:checked ~ .s1 {
  margin-left: -70%;
}

#slide9:checked ~ .s1 {
  margin-left: -80%;
}

#slide10:checked ~ .s1 {
  margin-left: -90%;
}
.cert-menor {
  display: none;
}


@media screen and (max-height: 640px) {
  .navigation {
    display: none;
  }
  .engloba {
    display: none;
  }
  .cert-menor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
  }
  .cert-image img {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}