

.fundo-certificado{
    background-color: #0b0d67;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.menor{
    width: 300px;
    height: 220px;
    margin: 20px;
    text-align: center;
}

.menor:hover{
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

.maior{
    background-color: rgba(0, 0, 0, 0.311);
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 10px;
    width: 1400px;
    padding: 0px;
}

.certificados{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 210px;
}


.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.733);
}

.lightbox:target{
    display: block;
}

.lightbox span{
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

#abc{
    width: 100%;
}


#img01{
    background-image: url('certGrande/cert01.png');
}

#img02{
    background-image: url('certGrande/cert02.png');
}

@media screen and (max-width: 750px) {
    body > div#txt{
        height: 1200px;
        background-color: rgba(255, 255, 255, 0.093);
    }

    .menor{
        display: inline-block;
        width: 100%;
        max-width: 80%;
        height: 20%;
        margin: 0px 10px;
        background-size: contain;
    }
    #cert01{
        text-align: center;
        width: 70%;
    }
}