@media screen and (max-width: 500px) {
    .item-list{
        display: none;
    }
    .botao{
        display: flex;
        align-items: center;
    }
    .botao button{
        background-color: transparent;
        border: 0px;
        cursor: pointer;
    }
    .div-bar-mobile ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .div-bar-mobile .item-list{
        display: block;
        padding: 5px 0px;
        
    }
    .open{
        display: block;
    }
}
