.dash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 10px;
}

.dashs {
  background-image: linear-gradient(
    to left,
    #1921af,
    #43b6d3,
    #74c7e6,
    #fff,
    #74c7e6,
    #43b6d3,
    #1921af
  );
}

.dashboard {
  padding: 0px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.532);
  border-radius: 10px;
  color: white;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.dashboard h3 {
  width: 300px;
  padding: 10px;
  text-indent: 10px;
}
.txt-links {
  display: none;
}

.baixo {
  background-color: black;
}

.baixo p {
  padding: 5px;
  color: red;
  text-align: center;
}

@media screen and (max-width: 628px) {
  .td-iframe {
    display: none;
  }

  .txt-links {
    display: flex;
    justify-content: center;
    background-color: #090a52;

    height: 100vh;
  }
  .txt-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    list-style: none;
    line-height: 3em;

    background-color: rgba(0, 0, 0, 0.607);
    padding: 10px;
  }
  .txt-links ul li {
    border-top: 1px solid white;
  }
  .txt-links ul li a {
    color: white;
  }

  .baixo {
    display: none;
  }
}

@media screen and (max-width: 395px) {
  .txt-links ul li {
    font-size: 9pt;
  }
}
