.dash-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.hotel{
    padding: 10px;
    border: 2px solid black;
    background-color: black;
    border-radius: 2px;
    color: white;
    display: flex;
}

.hotel p {
    width: 300px;
    padding: 10px;
    text-indent: 10px;
}